{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "consistent-return": 0,
    "arrow-parens": [
      2,
      "always"
    ]
  }
}
